.btn1{
    width: 20rem;
    height: 2rem;
    background-color: burlywood;
    text-align: center;
    margin-left: 15rem;
}

.btn2{
    width: 20rem;
    height: 2rem;
    background-color: burlywood;
    text-align: center;
    margin-left: 15rem;

}

.btn3{
    width: 20rem;
    height: 2rem;
    background-color: burlywood;
    text-align: center;
    margin-left: 15rem; 
    


}

